services:
  api:
    container_name: nestjs-hexagonal-architecture
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env.production
    depends_on:
      - pg
    ports:
      - "3000:3000"
    restart: unless-stopped

  pg:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

volumes:
  postgres-data:
